In [ ]:
methods(functions which are applicable for only particular objects 
objectname.methodname()

# Tuple and methods

In [3]:
# t1 is the object of tuple
t1 = (23, 54, 76, 86, 23)
t1

(23, 54, 76, 86, 23)

In [4]:
# we want to see the methods inside the tuple  
# dir will declare the attributes and the methods applicable for an object
# Attributes -- are the variables that we declare inside a class
# methods -- functions which are applicable for only particular object
print(dir(t1))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [5]:
# count --- Docstring: Return number of occurrences of value.
# Signature: t1.count(value, /)
t1.count?

In [6]:
t1.count(54)

1

In [7]:
t1.count(23)

2

In [8]:
# index --- Docstring: Return first index of value
# whenever there is = and some value in the argument they are optional values as in the below argument
# Signature: t1.index(value, start=0, stop=9223372036854775807, /)
t1.index?

In [9]:
# here it starts searching from default position which is 0 and returns the position of the value which is mentioned in 
#the bracket 
t1.index(23)

0

In [10]:
t1.index(23, 1)

4

In [11]:
t1.index(23, 0)

0

In [12]:
# here 2 is the mentiond to find the 2nd position of the duplicate value
t1.index(23, 2)

4

In [13]:
# here 0 is the position from where we have to start the search
t1.index(54,0)

1

In [14]:
t1.index(86)

3

In [15]:
t1

(23, 54, 76, 86, 23)

In [16]:
t1.index(23, t1.index(23)+1)

4

In [17]:
t1 = (45, 23, 54, 76, 86, 23)
t1

(45, 23, 54, 76, 86, 23)

In [18]:
# how to make it dynamic
# this is called the nesting of the functions
# the second part is saying when you find the 1st position add 1 to it to make it 2, which means finding the position of the 
# 2nd duplicate value of 23 (check line 17 as well, both answers are different)
t1.index(23, t1.index(23)+1)

5

In [ ]:
continue
break

In [20]:
# if we want to find the 10th position or more than that then we can write control flow stmt (change 2 to 10 in the second if 
# stmt to get the 10th position)
cnt = 0
for i in range(len(t1)):
    if t1[i] == 23:
        cnt == cnt + 1
        
    if cnt == 2: 
        print(i)
        break
    
    print('no of iteration:', i)

no of iteration: 0
no of iteration: 1
no of iteration: 2
no of iteration: 3
no of iteration: 4
no of iteration: 5

In [ ]:
These functions are for type conversion 
str() 
float()
int()
bool() 
set()

In [21]:
t1 = (45, 23, 54, 76, 87, 23, 45, 77)

In [22]:
t1

(45, 23, 54, 76, 87, 23, 45, 77)

# List and methods

In [23]:
# Converting tuple to list
l1 = list(t1)

In [24]:
l1

[45, 23, 54, 76, 87, 23, 45, 77]

In [25]:
print(dir(l1))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [26]:
# append --- Docstring: Append object to the end of the list.
# Signature: l1.append(object, /)
# append will always add the element at the last
l1.append?

In [27]:
l1 =[45, 23, 54, 76, 87, 23, 45, 77]

In [28]:
l1

[45, 23, 54, 76, 87, 23, 45, 77]

In [29]:
l1.append(999)

In [30]:
l1

[45, 23, 54, 76, 87, 23, 45, 77, 999]

In [31]:
# index --- Docstring: Return first index of value.
# Signature: l1.index(value, start=0, stop=9223372036854775807, /)
l1.index?

In [32]:
l1

[45, 23, 54, 76, 87, 23, 45, 77, 999]

In [33]:
# insert --- Docstring: Insert object before index.
# Signature: l1.insert(index, object, /)
# in this you can control the position where or which position you want to insert the number
l1.insert?

In [34]:
l1.insert(3,999)

In [35]:
l1

[45, 23, 54, 999, 76, 87, 23, 45, 77, 999]

In [36]:
# extend --- Docstring: Extend list by appending elements from the iterable.
# Signature: l1.extend(iterable, /)
# this will simply add the element of one list with another in the same memory location.
l1.extend?

In [37]:
l1

[45, 23, 54, 999, 76, 87, 23, 45, 77, 999]

In [38]:
l2 = ['34', '56']

In [39]:
l2

['34', '56']

In [40]:
l1.extend(l2)

In [41]:
l1

[45, 23, 54, 999, 76, 87, 23, 45, 77, 999, '34', '56']

In [42]:
# same thing can be done with append but there is a difference
# in this l2 will be added as a list in l1 list, check the below result
l1.append(l2)

In [43]:
l1

[45, 23, 54, 999, 76, 87, 23, 45, 77, 999, '34', '56', ['34', '56']]

In [44]:
# Explore these methods 
#'pop', 'remove', 'reverse'

In [45]:
# remove --- Docstring:Remove first occurrence of value.
# Signature: l1.remove(value, /)
l1.remove?

In [46]:
l1.remove('34')

In [47]:
l1.remove('56')

In [48]:
# pop --- Docstring:Remove and return item at index (default last).
# Signature: l1.pop(index=-1, /)
l1.pop?

In [49]:
l1.pop(-1)

['34', '56']

In [50]:
l1

[45, 23, 54, 999, 76, 87, 23, 45, 77, 999]

In [51]:
# sort --- Docstring: Stable sort *IN PLACE*.
# Signature: l1.sort(*, key=None, reverse=False)
l1.sort?

In [52]:
l1.sort()

In [53]:
l1

[23, 23, 45, 45, 54, 76, 77, 87, 999, 999]

In [54]:
# reverse --- Docstring: Reverse *IN PLACE*.
# Signature: l1.reverse()
l1.reverse?

In [55]:
l1.reverse()

In [56]:
l1

[999, 999, 87, 77, 76, 54, 45, 45, 23, 23]

In [57]:
# you can also write the reverse in sorting that will give same answer as normal reverse
l1.sort(reverse=True)

In [58]:
l1

[999, 999, 87, 77, 76, 54, 45, 45, 23, 23]

In [59]:
# this gives answer like normal sorting
l1.sort(reverse=False)

In [60]:
l1

[23, 23, 45, 45, 54, 76, 77, 87, 999, 999]

In [61]:
l1

[23, 23, 45, 45, 54, 76, 77, 87, 999, 999]

In [62]:
# when you say L3=l1 then l3 points the same memory location check line 120 & 121 both showing same memory location
# 1. Pass by reference -- in python everything is passed by reference, shows same memory location --- in all mutable cases
# 2. Pass by value -- in python we cannot pass by value -- in immutable
l3=l1

In [63]:
l3

[23, 23, 45, 45, 54, 76, 77, 87, 999, 999]

In [64]:
l3[-1] = 0

In [65]:
l3

[23, 23, 45, 45, 54, 76, 77, 87, 999, 0]

In [66]:
l1

[23, 23, 45, 45, 54, 76, 77, 87, 999, 0]

In [67]:
id(l1)

1510796208904

In [68]:
id(l3)

1510796208904

In [69]:
# to overcome this pass by reference scenario there is another function -- copy
# when we use copy that means we are giving values to the new list and hence the memory location will also be different check 
# line 124
l3=l1.copy()

In [70]:
l3

[23, 23, 45, 45, 54, 76, 77, 87, 999, 0]

In [71]:
id(l3)

1510795332488

In [72]:
l1

[23, 23, 45, 45, 54, 76, 77, 87, 999, 0]

In [73]:
# add no 10 to all elements in list and create a new list after addition

In [74]:
l4 = []
for i in range(len(l1)):
    l4.append(l1[i] + 10)
l4

[33, 33, 55, 55, 64, 86, 87, 97, 1009, 10]

In [75]:
l4 = []
for i in l1:
    if i < 70:
        l4.append(i + 10)
l4

[33, 33, 55, 55, 64, 10]

# List Comprehension

In [76]:
# list comprehension - better way than loop and for loop
l5 = [x for x in l1]

In [77]:
l5

[23, 23, 45, 45, 54, 76, 77, 87, 999, 0]

In [78]:
# if you want to add 10 to all the numbers in the list
l5 = [x + 10 for x in l1]

In [79]:
l5

[33, 33, 55, 55, 64, 86, 87, 97, 1009, 10]

In [80]:
# if you want to put condition that you want all values less than 70
[x for x in l1 if x < 70]

[23, 23, 45, 45, 54, 0]

# Dictionary

In [ ]:
# dict --- in dictionarys we cannot get the values from index, we always get the value from the keys
# key can be any object like immutable type and it can be string, integer, float anything
# syntax 
d1 = {key1:value1, key2:value2.......}

In [82]:
# this is dictionary
d1 = {1:34, 2:50, 3:60}

In [83]:
d1

{1: 34, 2: 50, 3: 60}

In [84]:
# getting values from the key
d1[1]

34

In [85]:
d1[3]

60

In [86]:
d2 = {'EmpID': [1001, 1002, 1003], 
          'EmpName': ['John', 'Andrew', 'Andrina'], 
              'Salary': [101.34, 456.34, 543.65]}

In [87]:
d2

{'EmpID': [1001, 1002, 1003],
 'EmpName': ['John', 'Andrew', 'Andrina'],
 'Salary': [101.34, 456.34, 543.65]}

In [88]:
t1

(45, 23, 54, 76, 87, 23, 45, 77)

In [89]:
d3 = {1:34, t1:l1}

In [90]:
d3

{1: 34,
 (45, 23, 54, 76, 87, 23, 45, 77): [23, 23, 45, 45, 54, 76, 77, 87, 999, 0]}

In [91]:
d3 = {1:34, t1:55}

In [92]:
d3

{1: 34, (45, 23, 54, 76, 87, 23, 45, 77): 55}

In [93]:
# this is not possible bcz l1 is mutable type hence it will give error
d3 = {1:34, t1:55, l1:45}

TypeError: unhashable type: 'list'

In [94]:
# when you have duplicate keys in the dictionary then it will not give error but instead it update the duplicate value with the 
# last value of the duplicate keyword
d4 = {1: 34, 2: 50, 3: 60, 2: 99}

In [95]:
d4

{1: 34, 2: 99, 3: 60}

In [96]:
# we can also get all the values of the column  
d2['EmpID']

[1001, 1002, 1003]

In [97]:
# we can also get one perticular value from the column 
d2['EmpID'][1]

1002

In [98]:
d1

{1: 34, 2: 50, 3: 60}

In [99]:
d1[1]

34

In [100]:
d1[2]

50

In [101]:
# this will simply add another key and a value at the end always
d1[4] = 99

In [102]:
d1

{1: 34, 2: 50, 3: 60, 4: 99}

In [103]:
d1[0] = 20

In [104]:
d1

{1: 34, 2: 50, 3: 60, 4: 99, 0: 20}

# Sets

In [105]:
# Sets - will give distinct results and always in ascending order
# We cannot get the value of the sets by indexing or slicing so we need to use for loops to get the value from set
# hardly used in data science and may be used for developing purpose
s1 = {9, 7, 5, 2, 34, 45, 2, 6, 55, 'py', 'python', 'Z' }

In [106]:
s1

{2, 34, 45, 5, 55, 6, 7, 9, 'Z', 'py', 'python'}

In [107]:
# getting values from sets
for i in s1:
    print(i)

2
34
py
5
6
7
Z
9
45
python
55

In [108]:
print(dir(s1))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [109]:
s1

{2, 34, 45, 5, 55, 6, 7, 9, 'Z', 'py', 'python'}

In [110]:
s2 = {55, 99, 2}

In [111]:
s1.intersection_update(s2)

In [112]:
s1

{2, 55}

In [113]:
s2

{2, 55, 99}

# User Defined Functions

In [114]:
# sometimes the available functions are not enough users make their own functions and use it 
# these function should have name, may or may not have argument   
# and return to get the value
# it should start with def
# sometimes we have to write the functions again and again and by writing UDF we dont have to repeat ourself

In [115]:
# create a UDF to add tow numbers
def fn_sumtownumbers(num1, num2):
    return num1 + num2

In [116]:
# here 3 is going with num1 and 5 is going with num2. 
# This is called positional argument. Hence, 3,5 and 5,3 is different 
# check subtract eg
fn_sumtownumbers(3, 5)

8

In [117]:
fn_sumtownumbers(2, 9)

11

In [118]:
# 3,5 and 5,3 is different 
def subtract_2no(x, y):
    return x - y

In [119]:
subtract_2no(3, 5)

-2

In [120]:
subtract_2no(5, 3)

2

In [121]:
# we can also write and this is called as keyword agruments. these are helpful when there are many arguments and 
# we dont know how namy arguments will be there
# Eg. fun(a, b, c, d, e, d, g, x, y, z) in this case we can assign value to any specefic argument
subtract_2no(x = 3, y = 5)

-2

In [122]:
# it dosent matter even if you write like this
subtract_2no(y = 5, x = 3)

-2

In [123]:
# here we are giving default value to num1 & num2
def fn_sumtownumbers(num1 = 0, num2 = 0):
    return num1 + num2

In [124]:
fn_sumtownumbers()

0

In [125]:
fn_sumtownumbers(4)

4

In [126]:
fn_sumtownumbers(4,5)

9

In [127]:
def subtract_2no(x = 0, y = 0):
    return x - y

In [128]:
subtract_2no()

0

In [129]:
subtract_2no(x = 5)

5

In [130]:
subtract_2no(y = 5)

-5

In [131]:
# Here i have given the default value of x & y and mul is a mandetory argument which is called the keyword argument 
def subtract_2no(mul, x = 0, y = 0):
    return (x - y) * mul

In [132]:
# here mul becomes the mandetory argument and we have not given any value so it is giving error
subtract_2no()

TypeError: subtract_2no() missing 1 required positional argument: 'mul'

In [133]:
subtract_2no(4)

0

In [134]:
subtract_2no(mul = 4)

0

In [135]:
subtract_2no(4, 5)

20

In [136]:
subtract_2no(4, x = 5)

20

In [137]:
subtract_2no(4, y = 5)

-20

In [138]:
subtract_2no(4, , 5)

SyntaxError: invalid syntax (<ipython-input-138-3a481561a16f>, line 1)

In [140]:
# here y also becomes mandetory bcz we are not assigning any value to y in the defination 
# this is give error bcz the mandetory arguments shoulds always be given at the begining and then the optional one 
def subtract_2no(mul, x = 0, y):
    return (x - y) * mul

SyntaxError: non-default argument follows default argument (<ipython-input-140-dc2555bdf9b5>, line 2)

In [141]:
# correct way to write the mandetory argument
def subtract_2no(mul, y, x = 0):
    return (x - y) * mul

In [142]:
subtract_2no(4, 4, x = 5)

4

In [143]:
subtract_2no(4, x = 5, y = 90)

-340

In [ ]:
# args --- means arguments --- denoted by * --- multiple positional arguments can be given 
# args will always take the arguments as a tuple

In [ ]:
# you can write it in any of the way
def func(*x):
    print(type(x))

In [144]:
def func(*args):
    print(type(args))

In [146]:
func(1, 2, 3, 4, 5)

<class 'tuple'>

In [147]:
func(1)

<class 'tuple'>

In [148]:
def func(*args):
    return sum(args)

In [153]:
func()

0

In [149]:
func(1)

1

In [150]:
func(1, 2)

3

In [152]:
func(1, 4, 2, 3)

10

In [154]:
func(1, 2, 3, 4, 'py')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [158]:
# to add if the value is int type or float type from heterogenous values 
# in -- is a mu;ti valued operator

def func(*args):
    
    sum = 0 
    for i in args:
        if type(i) in [int, float]:        #type(i) == int or type(i) == float:  #
            sum += i 
            
    return sum

In [159]:
func(1, 2, 3, 4, 'py')

10

In [ ]:
# kwagrs - means arguments --- denoted by **
# **kwargs will always take the arguments as dict

In [160]:
def func_kw(**kwargs):
    print(type(kwargs))

In [161]:
func_kw(x = 1, y = 3)

<class 'dict'>

In [ ]:
def func(a, b, c, d = 10, e = 'Py', *args, **kwargs):

In [177]:
l1 = [10, 5, 25.5, 'Python', True, 20, 'Class2', 10.5, False]

In [182]:
# write a UDF  to sum all int and float type and count all str type

def fn_myfunc(x):
    sum = 0
    cnt = 0
    
    for i in x:
        if type(i) in [int, float]:
            sum += i
        elif type(i) == str:
            cnt += 1
        
    return {'sum': sum, 'cnt': cnt}

In [183]:
fn_myfunc(l1)

{'sum': 71.0, 'cnt': 2}

In [184]:
fn_myfunc(l1)['sum']

71.0

In [ ]:
# write a UDF to get the area of four different shapes: circle, rectangle, square, cylinder
# here we dont kmow which keword argument we want to give

def funcname(s, **kwargs):
    .....
    
funcname('square', side = 10)

In [185]:
def areaofshapes(shape, **kwargs):
    if shape == 's':
        side = kwagrs['side']
        area = side*side
        
    elif shape == 'c':
        radius = kwagrs['radius']
        area = 3.14*radius** 2
        
    elif shape == 'r':
        len = kwagrs['length']
        width = kwargs ['width']
        area = len*width
        
    return area

In [186]:
areaofshapes('r', length=10, width=5)

NameError: name 'kwagrs' is not defined

# Lambda functions

In [ ]:
# only 1 operation can be done using lambda function
# it is similar to UDF
# we can use the lambda function with map and filter 
# map will map the value in bool type in array and filter to do indexing

In [187]:
# suppose we have to write in UDF to add 2 nums

def func(x, y):
    return (x + y)

In [190]:
# lambda functions -- if we have to write the same thing in lambda func
# we have to give a name to the function Eg a in the below operation
a = lambda x, y: x + y

In [191]:
a(3, 4)

7

In [192]:
# map --- Docstring:map(func, *iterables) --> map object
# Init signature: map(self, /, *args, **kwargs) -- in this you cannot give args or kwargs before /
map?

In [193]:
l1 = [23, 43, 54, 65]

In [194]:
# we can give multiple iterations and we can write list as we want to see the answer in the form of list
list(map(lambda x, y: x + y, l1, l1))

[46, 86, 108, 130]

In [196]:
list(map(lambda x: x + 10, l1))

[33, 53, 64, 75]

In [197]:
# if we eant to see the answer in tuple we can also write tuple
tuple(map(lambda x, y: x + y, l1, l1))

(46, 86, 108, 130)

In [198]:
l1

[23, 43, 54, 65]

In [199]:
# This wil give the answer in bool type so to get the values we need to use filter
list(map(lambda x: x > 50, l1))

[False, False, True, True]

In [203]:
# filter -- Docstring: filter(function or None, iterable) --> filter object
# Init signature: filter(self, /, *args, **kwargs)
filter?

In [201]:
# if you want to see the value of the above answer then you have to use filter and this the difference between map and filter
# map -- maps the value , filter --- does the indexing
list(filter(lambda x: x > 50, l1))

[54, 65]

In [202]:
# i can also use lambda function with UDF
list(map(lambda x, y: func(x, y), l1, l1))

[46, 86, 108, 130]

In [ ]:
# for loop/while 

# list comprehensions

# map/filter along with lambda function -- we use this to avoid for loops -- most efficient than for loop & list comprehension 
# and since it is in built function, it is fast

# the porpose of all 3 is same -- broadcasting

In [ ]:
# OOP -- object oriented programming

In [ ]:
#ant scientific operation
import numpy
or 
pip install numpy

In [21]:
import pandas as pd